    <header>
        <div class="container head-temp"><img class="head-img" src="https://previews.123rf.com/images/lumut/lumut1703/lumut170300721/76317222-water-wave-logo-template.jpg" alt="company logo"><h2>ManagementLogin</h2></div>
        
    </header>
    <style>
        .head-img{
            width: 5rem;
        }
        .head-temp{
            display: flex;
            align-items: center;
        }
    </style>